.App {
  text-align: center;
  align-items:center;
  flex-direction:column;
  font-family:Arial, Helvetica, sans-serif;
}
.App input{
  margin-top:20px;
  width:300px;
  height:40px;
  padding-left:10px;
  font-size:20px;
}
p{
  margin:10px;
  font-size:18px;
}







